<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#9fbb36"></meta>
    <title>The Whisky - Official Band Website</title>
    <link rel="stylesheet" href="styles.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  </head>

  <body>
    <div id="app">
      <div class="wrapper">
        <header>
          <div class="logo">
            <img src="./assets/logo/logo-white.png" alt="whisky-vrn" loading="lazy"/>
          </div>
          <div class="description">
            <p>Группа the Whisky образована в 2007 году на базе ВГАУ им К. Д. Глинки.</p>
          </div>
        </header>

        <main>
          <div class="player">
            <div class="player-header">
              <img :src="currentTrack.img" :alt="currentTrack.title" loading="lazy" />
            </div>
            <div class="player-controls">
              <div class="control-btn">
                <button class="control-icon" @click="togglePlay" :disabled="isLoading">
                  <span class="playing-icon">
                    <img v-if="!isPlaying" src="./assets/icon/play-9fbb36.svg" alt="play" />
                    <img v-else src="./assets/icon/pause-9fbb36.svg" alt="pause" />
                  </span>
                </button>
              </div>
              <div class="control-progress">
                <div class="progress-title">
                    <span v-if="isLoading" class="loader"></span>
                    <span v-else >{{ currentTrack.title }}</span>
                </div>
                <div class="progress-block">
                  <span class="current-time">{{ formatTime(currentTime) }}</span>
                  <div
                    class="progress-bar"
                    @mousedown="startDraggingProgress"
                    @touchstart="startDraggingProgress"
                    ref="progressBar"
                  >
                    <div class="progress" :style="{ width: progress + '%' }"></div>
                  </div>
                  <span class="total-time">{{ formatTime(duration) }}</span>
                  <button @click.prevent="previousTrack" :disabled="isLoading">
                    <span class="control-icon">
                      <img src="./assets/icon/skip-previous-svgrepo-com.svg" alt="previous" />
                    </span>
                  </button>
                  <button @click.prevent="nextTrack" :disabled="isLoading">
                    <span class="control-icon">
                      <img src="./assets/icon/skip-next-svgrepo-com.svg" alt="next" />
                    </span>
                </button>
                </div>
              </div>
            </div>
            <div class="player-filter">
              <button class="filter-active">Лучшее</button>
              <button class="filter-btn">Все песни</button>
            </div>

            <!-- Список треков -->
            <div class="track-list">
              <div
                v-for="(track, index) in tracks"
                :key="track.id"
                class="track-item"
                :class="{ active: currentTrack.id === track.id }"
                @click="!isLoading && playTrack(index)"
              >
                <div class="track-list-image">
                  <img :src="track.img" alt="track.name" />
                </div>
                <div class="track-list-heading">
                  <div class="track-list-title">{{ track.title }}</div>
                  <div class="track-list-record">{{ track.year }}</div>
                </div>
                <span class="track-duration">{{ formatTime(track.duration) }}</span>
              </div>
            </div>
          </div>
        </main>

        <footer>
          <p class="copyright">© {{ new Date().getFullYear() }} the whisky vrn</p>
        </footer>
      </div>
    </div>
  </body>
</html>

<script>
  const { createApp, ref, computed, onMounted, onUnmounted } = Vue;

  createApp({
    setup() {
      const band = ref([
        {
          id: 1,
          name: "Алексей Закупнев",
          role: "Гитара",
          bio: "Founding member and primary songwriter. Known for his powerful vocals and intense stage presence.",
          image: "./image/zak-1.png",
        },
        {
          id: 2,
          name: "Максим Прядкин",
          role: "Вокал",
          bio: "Virtuoso guitarist with a background in classical music. Creates the band's signature riffs.",
          image: "./image/max-1.png",
        },
        {
          id: 3,
          name: "Алексей Кузнецов",
          role: "Басс",
          bio: "Provides the heavy, driving basslines that form the foundation of The Whisky's sound.",
          image: "./image/kuz-1.png",
        },
        {
          id: 4,
          name: "Илья Журихин",
          role: "Барабаны",
          bio: "Energetic drummer with a background in jazz and metal. Known for his complex rhythms.",
          image: "./image/ily-1.png",
        },
      ]);

      const tracks = ref([
        { 
          id: 1,
          title: "Давай останемся друзьями",
          album: "Сингл",
          year: 2017,
          duration: 257,
          src: "./assets/audio/17/the-whisky-davaj-ostanemsya-druzyami.mp3",
          img: "./assets/image/16/grom-16-m.jpg",
        },
        { 
          id: 2,
          title: "Между мужчиной и женщиной",
          album: "Сигл",
          year: 2017,
          duration: 261,
          src: "./assets/audio/17/the-whisky-mezhdu-muzhchinoj-i-zhenshhinoj.mp3",
          img: "./assets/image/16/grom-16-k1.jpg",
        },
        { 
          id: 3,
          title: "Принцессы",
          album: "Сингл",
          year: 2016,
          duration: 214,
          src: "./assets/audio/16/the-whisky-princzessy.mp3",
          img: "./assets/image/19/max-1.jpg",
        },
        { 
          id: 4,
          title: "Только сейчас",
          album: "Сигл",
          year: 2016,
          duration: 381,
          src: "./assets/audio/16/the-whisky-tolko-sejchas.mp3",
          img: "./assets/image/16/grom-16-z.jpg",
        },
        { 
          id: 5,
          title: "Верните мне",
          album: "Сингл",
          year: 2016,
          duration: 201,
          src: "./assets/audio/16/the-whisky-vernite-mne.mp3",
          img: "./assets/image/16/grom-16.jpg",
        },
        { 
          id: 6,
          title: "По шаблонам",
          album: "Сигл",
          year: 2016,
          duration: 261,
          src: "./assets/audio/16/the-whisky-po-shablonam.mp3",
          img: "./assets/image/ruch-2.jpg",
        },
        { 
          id: 7,
          title: "Кислород",
          album: "Сигл",
          year: 2016,
          duration: 213,
          src: "./assets/audio/16/the-whisky-kislorod.mp3",
          img: "./assets/image/16/grom-16-i.jpg",
        },
        {
          id: 8,
          title: "Ничего не надо",
          album: "Ничего не надо",
          year: 2008,
          duration: 189,
          src: "./assets/audio/the-whisky-nichigo-ne-nado.mp3",
          img: "./assets/image/ruch-2.jpg",
        },
        {
          id: 9,
          title: "На крыше",
          album: "Ничего не надо",
          year: 2008,
          duration: 189,
          src: "./assets/audio/the-whisky-na-kriche.mp3",
          img: "./assets/image/gr-1.jpg",
        },
        {
          id: 10,
          title: "Зачем",
          album: "Ничего не надо",
          year: 2008,
          duration: 240,
          src: "./assets/audio/the-whisky-zachem.mp3",
          img: "./assets/image/gr-3.jpg",
        },
        {
          id: 11,
          title: "Никого не вини",
          album: "Ничего не надо",
          year: 2008,
          duration: 208,
          src: "./assets/audio/the-whisky-nikogo-ne-vini.mp3",
          img: "./assets/image/gr-2.jpg",
        },
      ]);

      // Перемненные для плаера
      const currentTrackIndex = ref(0);
      const isPlaying = ref(false);
      const currentTime = ref(0);
      const duration = ref(0);
      const volume = ref(1);
      const progress = ref(0);
      const isMuted = ref(false);
      const previousVolume = ref(0.7); // Для сохранения предыдущего уровня громкости

      // Состояния для перетаскивания
      const isDraggingProgress = ref(false);
      const isDraggingVolume = ref(false);
      const progressBar = ref(null);
      const volumeSlider = ref(null);
      const isLoading = ref(false);
      const bufferedProgress = ref(0);

      // Инициализируем HTMLAudioElement: Audio() constructor
      // const audio = new Audio();
      const audio = ref(new Audio())

      const currentTrack = computed(() => tracks.value[currentTrackIndex.value]);

      const formatTime = (seconds) => {
        if (!seconds) return "0:00";
        const mins = Math.floor(seconds / 60);
        const secs = Math.floor(seconds % 60);
        return `${mins}:${secs < 10 ? "0" : ""}${secs}`;
      };

      // Управление воспроизведением
      const togglePlay = () => {
        if (isPlaying.value) {
          audio.value.pause();
        } else {
          audio.value.play();
        }
        isPlaying.value = !isPlaying.value;
      };

      const playTrack = (index) => {
        
        isLoading.value = true; 
        bufferedProgress.value = 0;

        currentTrackIndex.value = index;
        audio.value.src = tracks.value[index].src;
        audio.value.play();
        isPlaying.value = true;
      };

      const nextTrack = () => {
        isLoading.value = true; 
        bufferedProgress.value = 0;

        currentTrackIndex.value = (currentTrackIndex.value + 1) % tracks.value.length;
        audio.value.src = tracks.value[currentTrackIndex.value].src;
        audio.value.play();
        isPlaying.value = true;
      };

      const previousTrack = () => {
        isLoading.value = true; 
        bufferedProgress.value = 0;

        currentTrackIndex.value =
          currentTrackIndex.value === 0 ? tracks.value.length - 1 : currentTrackIndex.value - 1;
        audio.value.src = tracks.value[currentTrackIndex.value].src;
        audio.value.play();
        isPlaying.value = true;
      };

      // Перетаскивание прогресса трека
      const startDraggingProgress = (event) => {
        isDraggingProgress.value = true;
        updateProgress(event);

        // Добавляем обработчики для движения мыши и отпускания
        document.addEventListener("mousemove", handleProgressDrag);
        document.addEventListener("mouseup", stopDraggingProgress);

        // Для touch-устройств
        document.addEventListener("touchmove", handleProgressDrag);
        document.addEventListener("touchend", stopDraggingProgress);
      };

      const handleProgressDrag = (event) => {
        if (!isDraggingProgress.value) return;
        updateProgress(event);
      };

      const updateProgress = (event) => {
        if (!progressBar.value) return;

        const rect = progressBar.value.getBoundingClientRect();
        let clientX;

        if (event.type.includes("touch")) {
          clientX = event.touches[0].clientX;
        } else {
          clientX = event.clientX;
        }

        let clickPosition = clientX - rect.left;
        clickPosition = Math.max(0, Math.min(clickPosition, rect.width));

        const newProgress = (clickPosition / rect.width) * 100;
        progress.value = newProgress;
        audio.value.currentTime = (newProgress / 100) * duration.value;
      };

      const stopDraggingProgress = () => {
        isDraggingProgress.value = false;

        // Удаляем обработчики
        document.removeEventListener("mousemove", handleProgressDrag);
        document.removeEventListener("mouseup", stopDraggingProgress);
        document.removeEventListener("touchmove", handleProgressDrag);
        document.removeEventListener("touchend", stopDraggingProgress);
      };

      // Инициализация аудиоплеера
      onMounted(() => {
        isLoading.value = true; 
        bufferedProgress.value = 0;

        audio.value.src = tracks.value[0].src;
        audio.value.volume = volume.value;

        // Готовность трека
        audio.value.addEventListener('loadstart', () => isLoading.value = true)
        
        audio.value.addEventListener('progress', () => {
          if (audio.value.buffered.length > 0) {
            const buffered = audio.value.buffered.end(0) / audio.value.duration * 100;
            bufferedProgress.value = Math.min(100, buffered)
          }
        });

        audio.value.addEventListener('canplay', () => isLoading.value = false) // Готов к воспроизведению
        
        audio.value.addEventListener('waiting', () => isLoading.value = true) // Буферизуется во время playback

        audio.value.addEventListener('playing', () => isLoading.value = false)

        audio.value.addEventListener("loadedmetadata", () => {
          duration.value = audio.value.duration;
        });

        audio.value.addEventListener("timeupdate", () => {
          if (!isDraggingProgress.value && !isNaN(audio.value.duration)) {
            currentTime.value = audio.value.currentTime;
            progress.value = (audio.value.currentTime / audio.value.duration) * 100;
          }
        });

        audio.value.addEventListener('progress', () => {
          if (audio.value.buffered.length > 0 && !isNaN(audio.value.duration) && audio.value.duration > 0) {
            const buffered = audio.value.buffered.end(0) / audio.value.duration * 100;
            bufferedProgress.value = Math.min(100, buffered);
          }
        });

        audio.value.addEventListener("ended", () => {
          nextTrack();
        });

        // // Обновляем прогресс при клике на прогресс-бар
        // if (progressBar.value) {
        //   progressBar.value.addEventListener("click", updateProgress);
        // }
      });

      // Очистка при размонтировании
      onUnmounted(() => {
        document.removeEventListener("mousemove", handleProgressDrag);
        document.removeEventListener("mouseup", stopDraggingProgress);
        document.removeEventListener("touchmove", handleProgressDrag);
        document.removeEventListener("touchend", stopDraggingProgress);

        const audioEl = audio.value;
        audioEl.removeEventListener('loadstart', () => {});
        audioEl.removeEventListener('progress', () => {});
        audioEl.removeEventListener('canplay', () => {});
        audioEl.removeEventListener('waiting', () => {});
        audioEl.removeEventListener('playing', () => {});
        audioEl.removeEventListener('loadedmetadata', () => {});
        audioEl.removeEventListener('timeupdate', () => {});
        audioEl.removeEventListener('ended', () => {});
      });

      return {
        band,
        tracks,
        currentTrack,
        currentTrackIndex,
        isPlaying,
        currentTime,
        duration,
        volume,
        progress,
        isMuted,
        progressBar,
        volumeSlider,
        formatTime,
        togglePlay,
        playTrack,
        nextTrack,
        previousTrack,
        isLoading,
        bufferedProgress,
        // toggleMute,
        startDraggingProgress,
        // startDraggingVolume,
      };
    },
  }).mount("#app");
</script>
