:root {
  --primary: #ff4500;
  --primary-glow: #ff6b35;
  --secondary: #ffd700;
  --secondary-glow: #ffe55c;
  --dark: #0a0a0a;
  --neon-blue: #00f3ff;
  --neon-purple: #b026ff;
  --metal: linear-gradient(135deg, #2c3e50 0%, #4a6491 100%);
  --grunge-texture: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="200" height="200" viewBox="0 0 200 200"><filter id="noise"><feTurbulence type="fractalNoise" baseFrequency="0.65" numOctaves="3" stitchTiles="stitch"/></filter><rect width="100%" height="100%" filter="url(%23noise)" opacity="0.1"/></svg>');
	
	--text-xs: 0.625rem; /* 0.625rem (10px) */
  --text-s: 0.75rem; /* 0.75rem (12px) */
  --text-sm: 0.875rem; /* 0.875rem (14px) */
  --text-m: 1rem; /* 1rem (16px) */
  --text-lg: 1.125rem; /* 1.125rem (18px) */
  --text-xl: 1.25rem; /* 1.25rem (20px) */
  --text-2xl: 1.5rem; /* 1.5rem (24px) */
  --text-3xl: 1.875rem; /* 1.875rem (30px) */
  --text-4xl: 2.25rem; /* 2.25rem (36px) */

  --p-zinc-800: #27272a;
  --p-zinc-900: #18181b;
  --p-orange-50: #fff7ed;
  --p-orange-100: #ffedd5;
  --p-orange-200: #fed7aa;
  --p-orange-300: #fdba74;
  --p-orange-400: #fb923c;
  --p-orange-500: #f97316;
  --p-orange-600: #ea580c;
  --p-orange-700: #c2410c;
  --p-orange-800: #9a3412;

	--p-zinc-50: #fafafa;
  --p-zinc-100: #f4f4f5;
  --p-zinc-200: #e4e4e7;
  --p-zinc-300: #d4d4d8;
  --p-zinc-400: #a1a1aa;
  --p-zinc-500: #71717a;
  --p-zinc-600: #52525b;
  --p-zinc-700: #3f3f46;
  --p-zinc-800: #27272a;
  --p-zinc-900: #18181b;
  --p-zinc-950: #09090b;

  --color-green :#1a7a4c;
  --stroke-color: var(--p-zinc-800); /* переменная для SVG) */
  --white-zinc:oklch(96.7% 0.001 286.375);
  --color-colorion: #101820;
	--color-dark: #232323;
  --color-linear-gradient: linear-gradient(rgb(159, 187, 54), rgb(209, 225, 152));
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  background-color: var(--white-zinc);
  color: white;
	/* background-image: url(./assets/logo/white_pattern.png); */
  line-height: 1.6;
  overflow-x: hidden;
}

img {
	width: 100%;
	height: 100%;
}

#app {
	display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container {
  width: 100%;
  max-width: 768px;
  margin: 0 auto;
}

/* header */

header {
  height: 236px;
  padding: 13px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 13px;
  background-color: var(--p-zinc-900);
}

/* header p {
  font-size: 1.5rem;
  text-align: center;
  color: var(--p-zinc-800);
} */

.logo {
  width: 100%;
  max-width: 136px;
  object-fit: cover;
}

/* Секция с плейером */

.player-section {
  position: relative;
}

.player-header {
  width: 100%;
  height: 100%;
	display: flex;
	object-fit: cover;
}

.player-controls {
  display: flex;
  gap: 13px;
	padding: 10px 13px;
	background-color: var(--p-zinc-900);
  position: sticky;
  top: 0;
  left: 0;
}

.control-btn {
  padding-top: 8px;
  width: 36px;
  background: rgba(0, 0, 0, 0);
  border: none;
  cursor: pointer;
  transition: all 0.3s;
}

.control-btn:hover {
  transform: scale(1.1);
}

.control-progress {
  flex: 1 0 auto;
}

.progress-title {
  margin-bottom: 6px;
}

.progress-bar {
  height: 6px;
  width: 100%;
  background: var(--p-zinc-800);
  cursor: pointer;
  position: relative;
  overflow: hidden;
  cursor: grabbing;
}

.progress-bar::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.progress {
  height: 100%;
  width: 0%;
  background: rgb(159, 187, 54);
  position: relative;
  transition: width 0.1s linear;
}

.progress::after {
  content: "";
  position: absolute;
  top: 50%;
  right: -12px;
  transform: translateY(-50%);
  cursor: grabbing;
  transition: all 0.2s;
}

.time-area {
  display: flex;
  justify-content: space-between;
  margin-top: 6px;
  font-size: 0.8rem;
	color: var(--p-zinc-200);
}

/* Секция с плейлистом */

.track-list {
  background-image: var(--color-linear-gradient);
}

.track-item {
	display: flex;
	justify-content: space-between;
  align-items: center;
  gap: 8px;
	padding: 6px 10px;
	cursor: pointer;
  transition: all 0.3s;
  color: var(--p-zinc-900);
  border-bottom: 1px solid var(--p-zinc-900);
}

.track-item:hover {
  background-color: #00000036;
}

.track-item.active {
	background-color: #00000036;
}

.track-list-title {
	font-size: 1rem;
  font-style: italic;
  font-weight: 400;
}

.track-list-record {
  font-size: 0.9rem;
}

.track-list-heading {
  flex: 1 0 auto;
}

.track-list-image {
	width: 70px;
	height: 70px;
	object-fit: cover;
}

.track-duration {
	color: var(--p-zinc-800);
  font-size: 0.9rem;
}

/* Футер */

footer {
  width: 100%;
  height: 100%;
  padding: 10px 5px;
  background: var(--p-zinc-900);
  text-align: center;
}

.copyright {
  font-size: 0.9rem;
  color: rgb(159, 187, 54);
}


/* Пример анимациии */
.playing-icon {
  animation: animation 3s infinite alternate;
}

@keyframes animation {
  from {
    fill: red;
  }
  to {
    fill: green;
  }
}
