:root {
  --primary: #ff4500;
  --primary-glow: #ff6b35;
  --secondary: #ffd700;
  --secondary-glow: #ffe55c;
  --dark: #0a0a0a;
  --neon-blue: #00f3ff;
  --neon-purple: #b026ff;
  --metal: linear-gradient(135deg, #2c3e50 0%, #4a6491 100%);
  --grunge-texture: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="200" height="200" viewBox="0 0 200 200"><filter id="noise"><feTurbulence type="fractalNoise" baseFrequency="0.65" numOctaves="3" stitchTiles="stitch"/></filter><rect width="100%" height="100%" filter="url(%23noise)" opacity="0.1"/></svg>');

  --text-xs: 0.625rem; /* 0.625rem (10px) */
  --text-s: 0.75rem; /* 0.75rem (12px) */
  --text-sm: 0.875rem; /* 0.875rem (14px) */
  --text-m: 1rem; /* 1rem (16px) */
  --text-lg: 1.125rem; /* 1.125rem (18px) */
  --text-xl: 1.25rem; /* 1.25rem (20px) */
  --text-2xl: 1.5rem; /* 1.5rem (24px) */
  --text-3xl: 1.875rem; /* 1.875rem (30px) */
  --text-4xl: 2.25rem; /* 2.25rem (36px) */

  --p-zinc-800: #27272a;
  --p-zinc-900: #18181b;
  --p-orange-50: #fff7ed;
  --p-orange-100: #ffedd5;
  --p-orange-200: #fed7aa;
  --p-orange-300: #fdba74;
  --p-orange-400: #fb923c;
  --p-orange-500: #f97316;
  --p-orange-600: #ea580c;
  --p-orange-700: #c2410c;
  --p-orange-800: #9a3412;

  --p-zinc-50: #fafafa;
  --p-zinc-100: #f4f4f5;
  --p-zinc-200: #e4e4e7;
  --p-zinc-300: #d4d4d8;
  --p-zinc-400: #a1a1aa;
  --p-zinc-500: #71717a;
  --p-zinc-600: #52525b;
  --p-zinc-700: #3f3f46;
  --p-zinc-800: #27272a;
  --p-zinc-900: #18181b;
  --p-zinc-950: #09090b;

  --color-green: #1a7a4c;
  --stroke-color: var(--p-zinc-800); /* переменная для SVG) */
  --white-zinc: oklch(96.7% 0.001 286.375);
  --color-colorion: #101820;
  --color-dark: #232323;
  --color-green: #9fbb36;
  --color-linear-gradient: linear-gradient(rgb(159, 187, 54), rgb(209, 225, 152));
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  background-color: var(--white-zinc);
  color: white;
  /* background-image: url(./assets/logo/white_pattern.png); */
  background-color: var(--p-zinc-900);
  line-height: 1.3;
  overflow-x: hidden;
}

img {
  width: 100%;
  height: 100%;
}

button,
input[type="submit"] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
  border: 0;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

.wrapper {
  width: 100%;
  max-width: 768px;
  margin: 0 auto;
}

/* header */

header {
  height: 100%;
  min-height: 216px;
  padding: 13px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 13px;
  background-color: var(--p-zinc-900);
}

header .logo {
  width: 100%;
  max-width: 136px;
  object-fit: cover;
}

header .description {
  max-width: 336px;
  color: var(--p-zinc-100);
  text-wrap: balance;
}

/* Секция с плейером */

.player {
  position: relative;
}

.player-header {
  width: 100%;
  height: 100%;
  display: flex;
  object-fit: cover;
  position: relative;
}

.player-controls {
  height: 100%;
  min-height: 108px;
  display: grid;
  grid-template-columns: 72px auto;
  align-items: center;
  gap: 15px;
  padding: 12px;
  background-color: var(--p-zinc-900);
  position: sticky;
  top: 0;
  left: 0;
}

.control-progress {
  display: flex;
  flex-direction: column;
}

.control-btn {
  display: flex;
  align-items: center;
  justify-content: center;
}

.control-icon {
  display: block;
  width: 30px;
}

.control-next {
  display: flex;
  gap: 8px;
}

.progress-block {
  display: flex;
  align-items: center;
  gap: 8px;
}

.progress-title {
  min-height: 20px;
  display: flex;
  align-items: center;
}

.progress-bar {
  height: 3px;
  width: 100%;
  background: var(--p-zinc-800);
  cursor: pointer;
  position: relative;
  overflow: hidden;
  cursor: grabbing;
}

.progress-bar::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.progress {
  height: 100%;
  width: 0%;
  background: rgb(159, 187, 54);
  position: relative;
  transition: width 0.1s linear;
}

.progress::after {
  content: "";
  position: absolute;
  top: 50%;
  right: -12px;
  transform: translateY(-50%);
  cursor: grabbing;
  transition: all 0.2s;
}

.current-time,
.total-time {
  display: block;
  flex: 1 0 30px;
  font-size: 0.8rem;
  color: var(--p-zinc-200);
}

/* .time-area {
  display: flex;
  justify-content: space-between;
  margin-top: 6px;
  font-size: 0.8rem;
	color: var(--p-zinc-200);
} */

/* player-filter */

.player-filter {
  display: flex;
  min-height: 30px;
  justify-content: space-around;
  background: rgb(159, 187, 54);
  border-bottom: 1px solid var(--p-zinc-900);
}

.filter-active {
  width: 100%;
  height: 100%;
  min-height: 36px;
  font-family: "Montserrat", sans-serif;
  font-size: 0.9rem;
  color: var(--p-zinc-800);
  background: rgb(159, 187, 54);
}

.filter-btn {
  width: 100%;
  font-family: "Montserrat", sans-serif;
  font-size: 0.9rem;
  color: var(--p-zinc-100);
  background: var(--p-zinc-900);
}

/* Секция с плейлистом */

.track-list {
  background-image: var(--color-linear-gradient);
}

.track-item {
  height: 100%;
  min-height: 72px;
  display: grid;
  grid-template-columns: 70px 1fr auto;
  align-items: center;
  gap: 12px;
  padding: 6px 16px 6px 12px;
  cursor: pointer;
  transition: all 0.3s;
  color: var(--p-zinc-900);
  border-bottom: 1px solid var(--p-zinc-900);
}

.track-item:hover {
  background-color: #00000036;
}

.track-item.active {
  background-color: #00000036;
}

.track-list-title {
  margin-bottom: 6px;
}

.track-list-record {
  font-size: 0.9rem;
}

.track-list-image {
  display: flex;
  object-fit: cover;
}

.track-duration {
  color: var(--p-zinc-800);
  font-size: 0.9rem;
}

/* Футер */

footer {
  width: 100%;
  height: 100%;
  padding: 10px 5px;
  background: var(--p-zinc-900);
  text-align: center;
}

.copyright {
  font-size: 0.9rem;
  color: rgb(159, 187, 54);
}

/* Пример анимациии */
.playing-icon {
  animation: animation 3s infinite alternate;
}

@keyframes animation {
  from {
    fill: red;
  }
  to {
    fill: green;
  }
}

/* .loading-overlay {
  position: absolute; top: 0; left: 0; right: 0; bottom: 0;
  background: rgba(0,0,0,0.8); display: flex; align-items: center;
  justify-content: center; color: white; font-weight: bold; z-index: 10;
}

.buffer-progress {
  position: absolute; 
  top: 0; 
  left: 0; 
  height: 100%; 
  background: rgba(159,187,54,0.3); 
  z-index: 1;
}

.progress { 
  position: relative; 
  z-index: 2; 
  background: #9fbb36; 
  height: 4px; 
} */

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

/* .track-item.disabled {
  opacity: 0.5;
  cursor: not-allowed;
} */

/* Loader */

.loader {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  display: block;
  color: #FFF;
  box-sizing: border-box;
  animation: shadowRolling 2s linear infinite;
}

@keyframes shadowRolling {
  0% {
    box-shadow: 0px 0 rgba(255, 255, 255, 0), 0px 0 rgba(255, 255, 255, 0), 0px 0 rgba(255, 255, 255, 0), 0px 0 rgba(255, 255, 255, 0);
  }
  12% {
    box-shadow: 100px 0 white, 0px 0 rgba(255, 255, 255, 0), 0px 0 rgba(255, 255, 255, 0), 0px 0 rgba(255, 255, 255, 0);
  }
  25% {
    box-shadow: 110px 0 white, 100px 0 white, 0px 0 rgba(255, 255, 255, 0), 0px 0 rgba(255, 255, 255, 0);
  }
  36% {
    box-shadow: 120px 0 white, 110px 0 white, 100px 0 white, 0px 0 rgba(255, 255, 255, 0);
  }
  50% {
    box-shadow: 130px 0 white, 120px 0 white, 110px 0 white, 100px 0 white;
  }
  62% {
    box-shadow: 200px 0 rgba(255, 255, 255, 0), 130px 0 white, 120px 0 white, 110px 0 white;
  }
  75% {
    box-shadow: 200px 0 rgba(255, 255, 255, 0), 200px 0 rgba(255, 255, 255, 0), 130px 0 white, 120px 0 white;
  }
  87% {
    box-shadow: 200px 0 rgba(255, 255, 255, 0), 200px 0 rgba(255, 255, 255, 0), 200px 0 rgba(255, 255, 255, 0), 130px 0 white;
  }
  100% {
    box-shadow: 200px 0 rgba(255, 255, 255, 0), 200px 0 rgba(255, 255, 255, 0), 200px 0 rgba(255, 255, 255, 0), 200px 0 rgba(255, 255, 255, 0);
  }
}